.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.logo h3{
    margin-top: 30px;
    color: red;
}
.header input{
    height: 30px;
    width:300px;
    margin-top: 25px;
    border: 2px solid;
    padding:5px;
    border-radius: 5px;
}
.header button{
    margin: 30px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(211, 37, 37);
    color: white;
}
.movies{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.box{
    border: 1px solid;
}
.movies2{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.box{
    border: 1px solid;
}
.footer{
    position: fixed;
    bottom: 0;
    margin-left: 580px;
    margin-bottom: 10px;
}
